body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.boton{
  background-color: transparent !important;
  border: 2px solid #0EDB88 !important;
}

.contenedor{

  padding: 60px;
  background-color: black;

}

.contenedor p, .contenedor h1, h2 {
  color: white;
  
}

.tituloTechnologies {
  font-size: 50px;
}

.icono{
  height: 175px;
  width: 175px;
  margin: 15px;
}

.contenedor p {
  font-size: 20px;
}


.colCentrada{
  display: flex;
  flex-direction: row;
  align-items: center; 
}


.divTitulos{
  display: "flex"; 
  flex-direction: "column";
  align-items:'self-start'

}